@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap');

html, body {
    font-family: "Roboto Mono", monospace; 
    font-optical-sizing: auto;
    color: black !important;
}

@font-face {
  font-family: 'logoFont';
  src: url('/1021-font.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

.logo {
  font-family: 'logoFont', sans-serif !important;
}


